*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center; 
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slideProfile 1.1s;
}

.container{
    padding: 20px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #091a80;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}

.header-text span{
    color: #091a80;
}

/* ------------------------ About ------------------------ */

#about{
    padding: 60px 0;
    color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 70%;
    border-radius: 15px;
    margin-top: 120px;
}

.about-col-2{
    flex-basis: 65%;
    font-size: 18px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #091a80;
    margin-bottom: 10px;
}

.tab-titles{
    display: flex; 
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #091a80;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 8px 0;
}

.tab-contents ul li span{
    color:#1128ac;
    font-size: 18px;
}

.tab-contents{
    display: block;
}

.tab-contents.active-tab{
    display:contents;
}

/* ------------------------ Services ------------------------ */

#services{
    padding: 40px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 30px;
    margin-top: 30px;
}

.services-list div{
    background: #262626;
    padding: 32px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 6px;
    transition: background 0.5s, transforme 0.5s;
}


.services-list div i{
    font-size: 18px;
    margin-bottom: 25px;
}

.services-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list h3{
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
}

.services-list p{
    margin-bottom: 6px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-right: 90px;
    margin-top: 10px;
    display: inline-block;
}

.services-list div a:hover{
    text-decoration: none;
    color: black;
}

.services-list div:hover{
    background: #1128ac;
}

/* ------------------------ English ------------------------ */
.english-list p{
    font-size: 20px;
    font-weight: 400;
    margin: 20px;
}

.list-english{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 160px;
}


.list-english h2{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
}

.english-list li{
    font-size: 18px;
    font-size: 200;
}

.sub-title{
    margin-left: 20px;
}

/* ------------------------ Portfolio ------------------------ */

#portfolio{
    padding: 20px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.layer{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 8px;
}

.layer a{
    margin-top: 18px;
    color: #1128ac;
    text-decoration: none;
    font-size: 18px;
    padding-right: 80px;
    line-height: 60px;
}
.layer a:hover{
    color: #fff;
    transition: 0.8s;
}

/* ------------------------ Contact ------------------------ */

.contact-left{
    flex-basis: 50%;
}
.contact-left p{
    margin-top: 20px;
}
.contact-left p i{
    color: #fff;
    margin-right: 2px;
    font-size: 30px;
}

.contact-left .current{
    display: flex;
}
.contact-left .current a{
    margin-left: 30px;
    
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;    
}
#linkedin{
    color: #0e76a8;
}
#linkedin:hover{
    color: #fff;
    transition: 0.8s;
}
#github{
   color: #39067c;
}
#github:hover{
    color: #fff;
    transition: 0.8s;
}
.social-icons a:hover{
    color: #fff;
}

.btn{
    display: block;
    margin: 40px auto;
    width: fit-content;
    border: 4px solid #faf2f2;
    padding: 14px 60px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(7, 6, 6);
}

.btn.btn2{
    display:inline-block;
    background-color: #1128ac;
    border: 3px solid black;
    width: 50%;
    border: 1px solid ;
    cursor: pointer;
    margin-bottom: 1px;

    text-align: center;
}

.btn.btn2:hover{
    background-color: #fff;
    transition: 1s;
}


.copyright{
    margin: 60px 0 1px 0;
    width: 100%;
    text-align: center;
    padding: 1px 0;
    font-weight: 300;
}


@media only screen and (max-with: 600px){
    #header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
}